.sachin{
    background-color: aqua;
}
.harsh{
    background-color: brown;
}
.parth{
    background-color: aquamarine;
}
.yash{
    background-color: blue;
}
.prem{
    background-color: blanchedalmond;
}
.prit{
    background-color: pink;
}